.app-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.app-wrapper header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-areas:
    '1 2 3 4'
    'menu menu menu menu';
}
.app-wrapper header menu {
  grid-area: menu;
}
.app-wrapper header menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.app-wrapper footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  gap: 10px;
}
/* main menu */
.main-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* end main menu */

/* home page */

.home-head .sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.config-panel {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.realisation-panel {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.off-content-right {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.instalation-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.magasin-panel {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
}
/* end home page */

/* boutique page */
.boutique-page-wrapper .main-page-wrapper {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'aside menu'
    'aside main';
  gap: 10px;
}

.boutique-page-wrapper .main-page-wrapper .head-menu {
  grid-area: menu;
}
.boutique-page-wrapper .main-page-wrapper > aside {
  grid-area: aside;
}

.boutique-page-wrapper .main-page-wrapper > .main-content {
  grid: main;
}
.boutique-page-wrapper .main-page-wrapper .main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.boutique-page-wrapper .main-page-wrapper .main-content .product {
  display: grid;
  grid-template-rows: 1fr auto auto auto;
}
/* end boutique page */
