:root {
  --primary: #f8f8f8;
  --secondary: #653d36;
  --text: #1f1f1f;
  --prefix: #7daf3f;
  --suffix: #b7b7b7;
  --exotic: #e2e2e2;
}

/* test */
.test-div {
  background-color: var(--text);
  width: 100vw;
  height: 100px;
}

/* gen */
* {
  font-family: arial;
}
body {
  margin: 0;
  /* background-color: var(--primary); */
  background-color: var(--primary);
}
a {
  text-decoration: none;
  color: var(--text);
}

.head-content {
  position: relative;
  /* background-color: #653d36; */
  /* z-index: -1; */
}
.head-content .sections * {
  position: relative;
}

/* end gen */

/* header */
.main-menu-mech {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 100;
  display: none;
}
.m-m-c-l {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  background-color: var(--secondary);
  font-size: 30px;
  width: 50px;
  height: 50px;
  display: none;

  border-radius: 50%;
}
.app-wrapper header {
  position: fixed;
  width: 100vw;
  z-index: 33;
  top: 0;
}
.app-wrapper header .configuration {
  background-color: var(--prefix);
  color: var(--primary);
  width: fit-content;
  height: 30px;
}

.app-wrapper header .configuration:hover {
  background-color: var(--secondary);
  cursor: pointer;
}
.app-wrapper header > *:not(.not-me):not(menu) {
  border: solid 0.2px var(--exotic);
  display: flex;
  align-items: center;
  background-color: var(--primary);
}

.app-wrapper header .not-me {
  background-color: var(--primary);
}
.app-wrapper header .configuration {
  padding: 10px;
  border: solid 0.2px var(--exotic);
  display: flex;
  align-items: center;
}

.app-wrapper header .markup {
  color: var(--secondary);
  cursor: pointer;
}
.app-wrapper header a {
  padding: 10px;
}
.app-wrapper header > *:hover .left {
  opacity: 0;
}
.app-wrapper header > *:hover .right {
  opacity: 1;
}

.app-wrapper header > *:hover label {
  transform: translateX(-20px);
}
.app-wrapper header > .search:hover input {
  transform: translateX(-20px);
}
.app-wrapper header label {
  cursor: pointer;
  transition: 0.27s;
}
.app-wrapper header > div {
  position: relative;
  z-index: 20;
}
.app-wrapper header .up img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  transition: 0.2s;
}

.app-wrapper header .right {
  opacity: 0;
}
.app-wrapper header .logo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary);
  letter-spacing: -0.5px;
}
.app-wrapper header .logo p {
  margin: 0;
}
.app-wrapper header .logo p:first-child {
  color: var(--prefix);
}

.app-wrapper .logo img {
  width: 13px;
  height: 13px;
  margin-right: 0;
}
.app-wrapper header input {
  border: none;
  outline: none;
  width: 100%;
  transition: 0.27s;
  background-color: var(--primary);
}

.markup label {
  width: 100%;
}
.app-wrapper header #contacterNous {
  width: fit-content;
}
#contacterNous .content *:not(img) {
  padding: 10px;
}
.app-wrapper header .link {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.app-wrapper header .link-slider div {
  display: block;
}
.app-wrapper header .markup,
.app-wrapper header .not-me {
  text-align: center;
}

/* header menu */
.app-wrapper header menu {
  margin: 0;
  background-color: transparent;
  padding: 0 20%;
}
.app-wrapper header menu > * {
  border: solid 0.5px var(--exotic);
}
.app-wrapper header menu .link {
  background-color: var(--primary);
  height: fit-content;
  display: inline-block;
}
.app-wrapper header menu .link:not(.link-slider):not(.not-me) {
  padding: 10px;
}
.app-wrapper header menu .link-slider .head {
  padding: 10px;
}
.app-wrapper header menu .link a {
  padding: 10px;
}
.app-wrapper header menu .link > a {
  text-align: center;
}
.app-wrapper header menu .link:hover {
  background-color: var(--prefix);
}
.app-wrapper header menu .link-slider * {
  pointer-events: none;
}
.app-wrapper header menu .link-slider {
  transition: 0.27s;
  height: fit-content;
}
#contacterNous .content {
  background-color: var(--primary);
}
#contacterNous .content input {
  color: var(--suffix);
  background-color: transparent;
  border-bottom: solid 1px var(--suffix);
}
#contacterNous .content *:not(img) {
  transition: 0.27s ease-in-out;
  opacity: 0;
  margin: 20px 0;
  box-sizing: border-box;
}
#contacterNous.content {
  padding: 10px;
}
#contacterNous:hover .content * {
  opacity: 1;
}
#contacterNous:hover * {
  pointer-events: all;
}
#boutique:hover * {
  pointer-events: all;
}
#contacterNous .head {
  position: relative;
}
#contacterNous p {
  overflow-wrap: break-word;
}
#contacterNous:hover .head::before {
  opacity: 1;
}
#contacterNous .head::before {
  position: absolute;
  top: 0;
  color: var(--primary);
  left: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-self: center;
  box-sizing: content-box;
  background-color: var(--prefix);
  content: 'Envoyer';
}
.app-wrapper header menu .link-slider .content {
  max-height: 0;
  transition: 1s;
  position: relative;
}
.app-wrapper header menu .link-slider:hover .content {
  max-height: 1000px;
}
.app-wrapper header menu .link-slider:hover .content a {
  opacity: 1;
}
.app-wrapper header menu .link-slider .content a:hover {
  background-color: var(--secondary);
}
.app-wrapper header menu .link-slider .content a {
  display: block;
  opacity: 0;
  color: var(--primary);
  transition: 0.5s;
  padding: 20px;
  position: relative;
  z-index: 2;
}
.app-wrapper header menu .link-slider img {
  max-height: inherit;
  width: 100%;
}
.app-wrapper header menu .link-slider img:not(.not-me) {
  height: 100%;
  max-height: inherit;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
/* end header menu */
/* end header */

/* footer */
.app-wrapper footer {
  padding: 10px;
  border-top: solid 10px var(--prefix);
  position: relative;
  z-index: 10;
  background-color: var(--primary);
}
.app-wrapper footer .logo {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: arial;
  align-items: flex-start;
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary);
  letter-spacing: -0.5px;
}
.app-wrapper footer .logo p {
  margin: 0;
  font-size: 30px;
  color: var(--secondary);
}
.app-wrapper footer .logo p:first-child {
  color: var(--prefix);
}
.app-wrapper footer .logo img {
  height: 35px;
  margin-left: 10px;
}

.app-wrapper footer a,
.app-wrapper footer p,
.app-wrapper footer label {
  color: var(--suffix);
}
.app-wrapper footer .lien-util a {
  display: block;
  margin: 10px 0;
}

.app-wrapper footer .lien-util a:hover {
  color: var(--prefix);
}
/* end footer */
/* home page */

.home-head img {
  width: 98vw;
}
.home-head .sections {
  padding: 0 20%;
  margin-top: 20px;
}

.home-head .sections > div {
  position: relative;
  z-index: 10;
  height: 100px;
  width: auto;
  cursor: pointer;
  overflow: hidden;
}
.home-head .sections :hover .title {
  background-color: var(--prefix);
}

.home-head .sections .title {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary);
  font-weight: bold;
  transition: 0.27s;
}

.home-head .sections img {
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-page-wrapper > .sections {
  background-color: var(--primary);
  position: relative;
  z-index: 20;
}

/* config section */
.config-panel {
  padding: 10px 100px;
  color: var(--primary);
  background-color: var(--secondary);
  overflow: hidden;
  cursor: pointer;
}
.config-panel img {
  transition: 0.27s;
}

.config-panel:hover img:last-child {
  transform: translateX(20px);
}
.config-panel img {
  margin: 0 10px;
  width: 40px;
  height: auto;
}
.config-panel {
  align-items: center;
  position: relative;
}

.config-panel .config-svg {
  transform: rotate(-20deg);
  position: absolute;
  width: 80px;
  height: auto;
}

.config-panel .config-svg g {
  fill: var(--prefix);
  transition: 0.27s;
}

.config-panel:hover g {
  fill: var(--secondary);
}
.config-panel > * {
  z-index: 2;
}

.config-panel .background {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--prefix);
  height: 0%;
  z-index: 1;
  transition: 0.27s;
}
.config-panel:hover .background {
  height: 100%;
}

.config-space {
  padding: 10px 10%;
}

/* end config section */

/* realisation section */

.realisation-panel img {
  width: 100%;
  z-index: -1;
  position: relative;
  transition: 0.27s;
}

.realisation-panel .content {
  background-color: var(--exotic);
}
.realisation-panel .content .foot {
  background-color: var(--primary);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-self: right;
}
.realisation-panel .content .foot > * {
  display: inline;
}
.realisation-panel .content .foot img {
  position: relative;
  z-index: 2;
  width: 20px;
  padding: 10px;
}
.realisation-panel .min-pag {
  max-width: 0;
  transition: 0.27s;
}
.realisation-panel:hover .min-pag {
  max-width: 500px;
}
.realisation-panel:hover .min-pag span {
  opacity: 1;
}
.realisation-panel .min-pag .active {
  background-color: var(--text);
}
.realisation-panel .min-pag span {
  cursor: pointer;
  border: solid 1px var(--text);
  background-color: var(--suffix);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 2px;
  opacity: 0;
  transition: 0.27s;
  float: right;
}

.realisation-panel .content h1 {
  text-align: center;
}
.realisation-panel .background {
  overflow: hidden;
}
.realisation-panel:hover .background img {
  transform: scale(1.2);
}

.realisation-panel .content .off-content-right {
  z-index: 10;
  transform: translateX(20%);
  background-color: var(--primary);
}

.realisation-panel .content .off-content-right > * {
  padding: 10px;
}
.realisation-panel:hover .content .off-content-right {
  background-color: var(--prefix);
  color: var(--primary);
}
.realisation-panel .background {
  position: relative;
}
.realisation-panel .content .off-content-right .content {
  background-color: var(--primary);
}
.realisation-panel:hover .content .off-content-right .content {
  background-color: var(--prefix);
}
.realisation-panel:hover .content .off-content-right article {
  background-color: var(--prefix);
  color: var(--primary);
}

.realisation-panel .content .off-content-right article {
  background-color: var(--primary);
  color: var(--suffix);
}

/* end realisation section */

/* instalation section */
.instalation-panel {
  padding: 50px;
}

.instalation-panel .notice {
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.instalation-panel .notice h1 {
  color: var(--prefix);
}

.instalation-panel .example {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.instalation-panel .example img {
  transition: 0.27s;
  position: relative;
  z-index: -1;
}
.instalation-panel .example:hover img {
  transform: scale(1.2);
}
.instalation-panel .example:hover .e {
  opacity: 1;
}
.realisation-panel:hover .background .e {
  opacity: 1;
}
.instalation-panel .example .e,
.realisation-panel .background .e {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: var(--primary);
  transition: 0.27s;
  opacity: 0;
  transform: translate(-50%, -50%);
}

/* end instalation section */

/* magasin section */
.magasin-panel .background {
  position: relative;
  overflow: hidden;
}
.magasin-panel .background .e {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.27s;
  fill: var(--primary);
  opacity: 0;
}
.magasin-panel .background img {
  transition: 0.27s;
  position: relative;
  z-index: -1;
  width: 100%;
}
.magasin-panel .content {
  text-align: left;
  background-color: var(--exotic);
}
.magasin-panel .content img {
  width: 40vw;
  transition: 0.27s;
}
.magasin-panel .background {
  position: relative;
}
.magasin-panel .off-content-left {
  transform: translateX(-20%);
  background-color: var(--primary);
  overflow: hidden;
}
.magasin-panel .off-content-left .content {
  background-color: var(--primary);
}
.magasin-panel .off-content-left .foot {
  padding: 20px;
  transition: 0.27s;
}
.magasin-panel:hover .background img {
  transform: scale(1.2);
}
.magasin-panel:hover .background .e {
  opacity: 1;
}

.magasin-panel:hover .off-content-left img {
  transform: translateY(-20px);
}

.magasin-panel:hover .off-content-left .foot {
  transform: translateY(-20px);
}
.magasin-panel:hover .foot .upper {
  transform: translateY(100%);
  opacity: 1;
}
.magasin-panel .foot .upper {
  color: var(--prefix);
  transition: 0.27s;
  margin: 10px;
  opacity: 0;
  transform: translateY(200%);
}

/* end magasin section */

/* boutique-page */
.boutique-head {
  background-color: var(--secondary);
  padding: 80px 20%;
  padding-bottom: 10px;
}

.boutique-head > h1 {
  color: var(--prefix);
}
.boutique-head > label {
  color: var(--suffix);
}

.boutique-page-wrapper .main-page-wrapper {
  padding: 20px 10%;
  background-color: var(--exotic);
  position: relative;
  z-index: 3;
}
.boutique-page-wrapper .main-page-wrapper .config-space {
  color: var(--primary);
  background-color: var(--secondary);
  overflow: hidden;
  cursor: pointer;
}
.boutique-page-wrapper .main-page-wrapper .config-space article {
  z-index: 1;
  position: relative;
  font-size: 12px;
}
.boutique-page-wrapper .main-page-wrapper .config-space .cnf-spc-e {
  fill: var(--prefix);
  transform: translateX(-20px) rotate(-20deg) scale(2);
  position: relative;
  z-index: 0;
}
.boutique-page-wrapper .main-page-wrapper .config-space .arrow {
  float: right;
  transition: 0.27s;
}
.boutique-page-wrapper .main-page-wrapper .config-space:hover .arrow {
  transform: translateX(10px);
}

.boutique-page-wrapper .main-page-wrapper .side-menu {
  background-color: var(--primary);
  margin: 0;
}
.boutique-page-wrapper .main-page-wrapper .main-content img {
  width: 100%;
  display: block;
}
.boutique-page-wrapper .main-page-wrapper .product {
  background-color: var(--primary);
  overflow: hidden;
}
.boutique-page-wrapper .main-page-wrapper .product > * {
  transition: 0.27s;
}
.boutique-page-wrapper .main-page-wrapper .product a {
  color: var(--prefix);
  opacity: 0;
}
.boutique-page-wrapper .main-page-wrapper .product a img {
  width: 20px;
  float: right;
}

.boutique-page-wrapper .main-page-wrapper .product:hover a {
  opacity: 1;
}
.boutique-page-wrapper
  .main-page-wrapper
  .product:hover
  *:not(a, .arw-link-prdct) {
  transform: translateY(-30px);
}
.boutique-page-wrapper .side-menu {
  padding: 0;
}
.boutique-page-wrapper .side-menu > * {
  margin: 0;
  padding: 10px 20px;
}
.boutique-page-wrapper .side-menu .active {
  color: var(--primary);
  background-color: var(--prefix);
}
.boutique-page-wrapper .side-menu .active:after {
  content: '>';
  float: right;
}
.boutique-page-wrapper .side-menu a {
  transition: 0.27s;
  color: var(--suffix);
  display: block;
}
.boutique-page-wrapper .side-menu a:hover:not(.active) {
  background-color: var(--secondary);
  color: var(--primary);
}

.boutique-page-wrapper .head-menu {
  padding: 0;
  margin: 0;
}
.boutique-page-wrapper .head-menu a {
  padding: 10px 5px;
  transition: 0.27s;
}
.boutique-page-wrapper .head-menu .active {
  font-weight: bold;
  padding: 10px 5px;
}
.boutique-page-wrapper .head-menu a:hover:not(.active) {
  color: gray;
}
/* end boutique-page */

/* end home page */
